<div>
  <select [formControl]="category" (ngModelChange)="changeCategory(category.value)">
    <option value="all">All</option>
    <option value="podzespoły komputera">Podzespoły komputera</option>
    <option value="urządzenia peryferyjne">Urządzenia peryferyjne</option>
    <option value="oprogramowanie">Oprogramowanie</option>
    <option value="inne">Inne</option>
  </select>
  <table
    *ngIf="hardwareList && hardwareList.length > 0"
    aria-label="Hardware list"
    #hardwareTable
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hardware of hardwareList">
        <td>{{ hardware.name }}</td>
        <td>{{ hardware.description }}</td>
        <td>{{ hardware.category }}</td>
        <td>
          {{
            hardware.price.toFixed(2) | currency: "PLN":"symbol":"1.2-2":"pl"
          }}
        </td>
      </tr>
      <tr>
        <td class="total" colspan="3">Total price</td>
        <td>{{ sumPrices() | currency: "PLN":"symbol":"1.2-2":"pl" }}</td>
      </tr>
      <tr>
        <td class="total" colspan="3">Total products</td>
        <td>{{ getNumberOfPositions() }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="printTable()">Print</button>
</div>
