<div>
  <h1>Add hardware</h1>
  <form
    [formGroup]="hardwareData"
    (ngSubmit)="createHardware(hardwareData.value)"
  >
    <label
      >Name:
      <input
        type="text"
        id="name"
        placeholder="Hardware name"
        formControlName="name"
        required
    /></label>
    <p
      *ngIf="name.invalid && (name.dirty || name.touched) && name.errors?.['required']"
    >
      Name is required.
    </p>
    <label
      >Description:
      <textarea
        formControlName="description"
        type="text"
        placeholder="Description"
      ></textarea>
    </label>
    <label
      >Category:
      <select
        type="select"
        formControlName="category"
        id="category"
        placeholder="Select category"
        required
      >
        <option value="" disabled>---Select category---</option>
        <option value="podzespoły komputera">podzespoły komputera</option>
        <option value="urządzenia peryferyjne">urządzenia peryferyjne</option>
        <option value="oprogramowanie">oprogramowanie</option>
        <option value="inne">inne</option>
      </select>
    </label>
    <p
      *ngIf=" category.invalid && (category.dirty || category.touched) && category.errors?.['required']"
    >
      Category is required.
    </p>
    <label
      >Price:
      <input
        min="0"
        type="number"
        id="price"
        placeholder="Price"
        formControlName="price"
        required
    /></label>
    <p
      *ngIf="price.invalid && (price.dirty || price.touched) && price?.errors?.['min']"
    >
      Price cannot be below zero.
    </p>
    <p>Form Status: {{ hardwareData.status }}</p>
    <input type="submit" value="Create" [disabled]="!hardwareData.valid" />
  </form>
</div>
